* {
    box-sizing: border-box;
   
    
}
  
  .navbar-nav a{
   
    font-weight: bold;
   
    text-align: left;
    color:white!important;
    padding-left: 30px!important;
  }
  .navbar-nav a:hover{
      color: blue!important;
  }
  
.navbar-toggler{
    border: none!important;
    background-color: white;
}
#nav-bar{
    background-color:grey!important;
    position: sticky;
    top: 0;
    z-index: 10;
}

#about{
    padding-top:40px;
    padding-bottom:40px;
    color: #555;
   
    
}
.about-text h5{
    text-align: justify;
}
#about h3::after{
    content:"";
    background: rgb(20, 120, 151);
    display: block;
    height:3px;
    width:100px;
    margin-top: 10px;
   
}
.space p{
    margin-top: 10px;
    margin-bottom:0; 
}
#services{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(279547.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    color: white;  
    height:20em; 
}
.ser{
    padding-top: 15px;

}
.ser::after{
        content:"";
        background: #efefef;
        display: block;
        height:3px;
        width:130px;
        margin: 15px auto 2px;
}
.service-text{
    padding-top: 20px;
   
}
.con h3{
    margin-top: 40px;
    text-align: center;
}

.con h3::after{
    content:"";
    background: rgb(20, 120, 151);
    display: block;
    height:3px;
    width:180px;
    margin: 15px auto 2px;
}
.con a i{
    padding:2px;
    font-size: 30px;
   margin-left: 3.7em;
   
   
    
    margin-top:30px;


}
#home{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(pexels-craig-adderley-1563356.jpg);
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 31em;

}
.hom img{
    width:15em;
    border-radius: 100%;
    padding-top: 20px;
    
    }

    .home-text{
        color: white;
        font-style: italic;
    }